# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.eslintcache
.dist/
dist/
out/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Large Model Weights (Excluded from GitHub)
backend/models/*.tgz
backend/models/*.onnx
backend/models/*.bin

# Local tests folder
tests/
.scripts/

# Secrets & Logs
.env*
*user_inputs.txt
*token_search.txt
